# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore git files
.git
.gitignore

# Ignore npm debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variables file
.env

# Ignore any other files or directories you don't want to include in the Docker build context